<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Expressões Matemáticas</title>
    <script type="text/javascript" id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3.0.0/es5/tex-mml-chtml.js">
  </script>

</head>
<body>
    <h1>Expressões Matemáticas</h1>

    <p>Podem-se criar expressões matemáticas no HTML usando o formato LateX e recorrendo ao MathJax.</p>

    <p>Exemplos:</p>

    $$ P_{[\text{dBW}]} = 10 \cdot  \text{log}_{10}(p_{[\text{W}]}) $$

    $$ p_{[\text{W}]} =10^ \frac {P_{[\text{dBW}]}} {10} $$

    $$ P_{[\text{dBW}]} = P_{[\text{dBm}]} + 30 $$

</body>
</html>